  body{
                background-color: rgb(229, 250, 250);
        }
     hr{
                border-style: dotted none none;
                border-color: grey;
                border-width: 5px;
                width: 7%;
     }
     h1{
         color: 66BFBF;     }
         h2{
            color: 66BFBF;     }
         h3{
             color: 66bfbf;
         }
       h4{
        color: 66bfbf;
       }
       h5{
        color: 66bfbf;
       }
       .dp{
         border-radius: 100%;
         width: 250px;
         height: 250px;
       }
       h4:hover{
         background-color: rgb(206, 240, 245);
         size: 200%;
       }
       h5:hover{
        background-color: rgb(206, 240, 245);
      }
      input:hover{
        background-color: rgb(206, 240, 245);
      }
      textarea:hover{
        background-color:rgb(206, 240, 245);
      }
      
